[Unit]
Description=A spotify playing daemon
Documentation=https://github.com/Spotifyd/spotifyd
Wants=sound.target
After=sound.target
Wants=network-online.target
After=network-online.target

[Service]
User=spotifyd
Group=spotifyd
WorkingDirectory=/var/lib/spoty
ExecStart=dbus-run-session /usr/sbin/spotifyd --config-path /var/lib/spoty/spotifyd.conf --no-daemon
Restart=always
RestartSec=12

[Install]
WantedBy=default.target
