[package]
authors = ["Simon Persson <simon@flaskpost.org>"]
edition = "2018"
name = "spotifyd"
version = "0.2.8"

[dependencies]
lewton = "0.9.3"
alsa = { version = "0.2", optional = true }
chrono = "0.4"
daemonize = "0.3"
dbus = { version = "0.6", optional = true }
dbus-tokio = { version = "0.2", optional = true }
futures = "0.1"
getopts = "0.2"
hostname = "0.1"
keyring = { version = "0.6.1", optional = true }
log = "0.4.6"
rspotify = "0.2.5"
sha-1 = "0.8"
hex = "0.3"
rust-ini = "0.13"
simplelog = "0.4"
syslog = "4.0.1"
tokio-core = "0.1"
tokio-io = "0.1"
tokio-signal = "0.1"
xdg = "2.2"

[dependencies.librespot]
default-features = false
features = ["with-tremor"]
git = "https://github.com/librespot-org/librespot.git"

[features]
alsa_backend = ["librespot/alsa-backend", "alsa"]
dbus_keyring = ["keyring"]
dbus_mpris = ["dbus", "dbus-tokio"]
default = ["alsa_backend"]
portaudio_backend = ["librespot/portaudio-backend"]
pulseaudio_backend = ["librespot/pulseaudio-backend"]
