[package]
authors = ["Simon Persson <simon@flaskpost.org>", "Sven Lechner <sven.lechner@rwth-aachen.de>"]
edition = "2018"
name = "spotifyd"
version = "0.2.18"

[dependencies]
alsa = { version = "0.3", optional = true }
chrono = "0.4"
daemonize = "0.4"
dbus = { version = "0.6", optional = true }
dbus-tokio = { version = "0.2", optional = true }
failure = "0.1.6"
futures = "0.1"
gethostname = "0.2.0"
hex = "0.4"
keyring = { version = "0.7.1", optional = true }
lazy_static = "1.4.0"
libc = "0.2"
log = "0.4.6"
percent-encoding = "2.1.0"
rspotify = "0.6.0"
serde = { version = "1.0.99", features = ["derive"] }
serde_ini = "0.2.0"
sha-1 = "0.8"
simplelog = "0.7"
structopt = { git = "https://github.com/TeXitoi/structopt/", rev = "0c888e962d842f2c90c6c290d3a2a40947b37005", features = ["color"] }
syslog = "4.0.1"
tokio-core = "0.1"
tokio-io = "0.1"
tokio-signal = "0.1"
xdg = "2.2"
whoami = "0.5.3"

[dependencies.librespot]
default-features = false
features = ["with-tremor"]
git = "https://github.com/librespot-org/librespot.git"

[dev-dependencies]
env_logger = "0.7"

[features]
alsa_backend = ["librespot/alsa-backend", "alsa"]
dbus_keyring = ["keyring"]
dbus_mpris = ["dbus", "dbus-tokio"]
default = ["alsa_backend"]
portaudio_backend = ["librespot/portaudio-backend"]
pulseaudio_backend = ["librespot/pulseaudio-backend"]
